
{% extends "base.html" %}
{% block title %}Question - Surveys{% endblock %}

{% block content %}
    <div class="container emp-profile">
<main>
    <div class="row">
        <div class="col-md-6">
            <div class="profile-head">
                <h1 class="ui header">Aggiungi Opzioni alla domanda</h1>
                <h4 class="ui header">
                    Domanda: {{ question.text }}
                </h4>
                <div class="ui basic padded segment left aligned">
                    <ul>
                        {% for option in choice %}
                        <li>
                            {{ forloop.counter }}) {{option.text}}
                            <a href="{% url 'polls:choice-edit' survey.id question.id option.id %}"
                               class="ui button">[modifica]</a>
                            <a href="{% url 'polls:choice-delete' survey.id question.id option.id %}"
                               class="ui button">[elimina]</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <form class="ui form {% if form.errors %}error{% endif %}" method="post" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="field {% if field.errors %}error{% endif %}">
                            <label>{{ field.label_tag }}</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                        {% if choice|length < 10 %}
                            <button type="submit" class="ui btn-primary btn">Aggiungi nuova opzione</button>
                        {% endif %}
                        <div class="ui message error">
                            {% if field.errors %}
                                <div class="header">Ci sono dei problemi</div>
                            {% endif %}
                            <ul class="list">
                                {% for field in form %}
                                {% for error in field.errors %}
                                <li>{{ field.label_tag }} {{ error }}</li>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </form>
                </div>
        {% if choice|length > 0  %}
            {% if question.other_field %}
                <a href="{% url 'polls:survey-edit-other' survey.pk question.id %}">
                    <div class="ui button">Done adding options</div>
                </a>
            {% else %}
            <a href="{% url 'polls:survey-edit' survey.pk %}">
                <div class="ui button">Finito di aggiungere opzioni</div>
            </a>
            {% endif %}
        {% endif %}
            </div>
    </div>
    </div>
</main>
</div>
{% endblock %}