{% extends "base.html" %}
{% block title %}View - Surveys{% endblock %}

{% block content %}
<div class="container emp-profile">
<main>
    <div class="row">
        <div class="col-md-6">
            <div class="profile-head">
                <h1 class="ui header">{{ survey.title }}</h1>
                    <a>{{ survey.description }}</a>
                    <h3 class="ui header">Numero sottomissioni: {{ num_submissions }}</h3>
                    <h3 class="ui header dividing"> Opzioni</h3>
                        <a href="{% url 'polls:survey-delete' survey.pk %}" class="btn btn-danger">Elimina Sondaggio</a>
                        {% if survey.status == "1" %}
                            <a name="send" href="{% url 'polls:survey-stop' survey.pk %}" class="btn btn-yellow">Blocca Sondaggio</a>
                        {% endif %}
                    <h1 class="ui header dividing">Risultati</h1>
                    {% for question in questions %}
                    <div class="ui basic padded segment left aligned">
                        <h4 class="ui header">
                            {{ forloop.counter }}) {{ question.text }}
                        </h4>
                        <ul>
                            {% for option in question.choices.all %}
                                <li>
                                    {{option.text}}: {{ option.percent|floatformat }}% ({{ option.answer_per_choice }})
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        <div class="col-md-2">
            <form method="POST" id="choiceForm" data-choice-url="{% url 'polls:ajax_load_choices' survey.id%}" novalidate>
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <button type="submit" class="btn-primary btn">Mostra Statistiche</button>
            </form>

        </div>
    </div>

</main>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_question").change(function () {
        const url = $("#choiceForm").attr("data-choice-url");  // get the url of the `load_choice` view
        const questionId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-choice/ )
            data: {
                'question': questionId      // add the question id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_choice` view function
                $("#id_choice").html(data);  // replace the contents of the choice input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);

                */
            }
        });

    });

</script>
{% endblock %}