<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://bitbucket.org/giakog/surveyapp/src/master/" target="_blank">
        <i class="fab fa-bitbucket mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <div class="footer-copyright py-3">
      © 2021 Giacomo Gilioli
    </div>

  </footer>