{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">
        <h1 class="ui header text-center">
            Selezione Categoria Sondaggi
        </h1>

      <section class="text-center mb-4">

        <div class="row wow fadeIn">

          {% for cat in category_list %}
          <div class="col-lg-3 col-md-6 mb-4">

            <div class="card">

              <div class="view overlay">
                <img src="media/{{ cat.image }}" class="card-img-top">
                <a href="{{ cat.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <div class="card-body text-center">
                <h5>
                  <strong>
                      {%  if cat.title == "All" %}
                        <a href="{{ cat.get_absolute_url }}" class="dark-grey-text">Tutte</a>
                      {% else %}
                        <a href="{{ cat.get_absolute_url }}" class="dark-grey-text">{{ cat.title }}</a>
                        {% endif %}
                  </strong>
                </h5>

              </div>

            </div>

          </div>
          {% endfor %}
        </div>

      </section>
      {% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Precedente</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
              <span class="sr-only">(Corrente)</span>
            </a>
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Prossima</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}

    </div>
  </main>

{% endblock content %}