{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">
        <div class="table-responsive text-nowrap">
            <h2>Mie Sottomissioni</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Sondaggio</th>
                        <th>Creato il</th>
                        <th>Stato</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    {% for submission in submissions %}
                    <tr>
                        <td>
                            <b>{{ submission.survey.title }}</b>
                        </td>
                        <td>{{ submission.created_at }}</td>
                        <td>
                            {% if submission.is_complete %}
                                <b class="green-text" >Completo</b>
                            {% else %}
                                <b>Iniziato</b>
                            {% endif %}
                        </td>
                        <td>
                        {% if submission.is_complete %}
                            <a href="{% url 'polls:submission-view' submission.survey.id submission.id %}">
                                 <div class="ui button">vedi</div>
                            </a>
                        {% else %}
                            <a href="{% url 'polls:survey-submit'  submission.survey.id submission.id %}">
                             <div class="ui button">continua</div>
                            </a>
                        {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan='5'>Non hai effettuato nessuna sottomissione</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </main>
{% endblock content %}