{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">

        <div class="table-responsive text-nowrap">
            <h2>Miei Sondaggi</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Creato il</th>
                        <th>Stato</th>
                        <th>Sottomissioni</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                {% for survey in surveys%}
                    <tr>
                        <td>{{ survey.title }}</td>
                        <td>{{ survey.category }}</td>
                        <td>{{ survey.date }}</td>
                        <td>
                            {% if survey.status == '1' %}
                                <b class="green-text">Attivo</b>
                            {% elif survey.status == '2' %}
                                <b class="orange-text">Bloccato</b>
                            {% else %}
                                <b class="red-text">Inattivo</b>
                            {% endif %}
                        </td>
                        <td>{{ survey.count }}</td>
                        <td>
                            {% if survey.status == '1' or survey.status == '2'%}
                                <a href="{% url 'polls:survey-detail' survey.pk %}">
                                     <div class="ui button">vedi</div>
                                </a>
                                <a href="{% url 'polls:survey-delete-stop' pk=survey.pk %}">
                                     <div class="ui button">blocca/cancella</div>
                                </a>
                            {% elif survey.status == '0' %}
                                <a href="{% url 'polls:survey-edit' survey.pk %}">modifica</a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                <tr>
                    <td colspan='5'>Non hai creato nessun sondaggio</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </main>

{% endblock content %}