{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create - Surveys{% endblock %}
{% block content %}
<div class="container wow fadeIn">
    <main>
        <h2 class="my-5 h2 text-center">
            Crea Nuovo Sondaggio
        </h2>
            <div class="row">
                <form method="POST" class="card-body {% if form.errors %} error {% endif %}" novalidate>
                    {% csrf_token %}
                    <h3>Informazioni Sondaggio</h3>
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="field">
                        <label>{{ field.label_tag }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                            <strong class="red">{{ error }}</strong>
                        {% endfor %}

                    {% endfor %}
                    </div>
                    <button type="submit" class="btn-primary btn">Crea</button>
                </form>
            </div>
    </main>
</div>
{% endblock %}