{% extends "base.html" %}

<!------ Include the above in your HEAD tag ---------->
{% block content %}
      <main>
    <div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h5>
                                {{ profile.first_name }} {{ profile.last_name }}
                            </h5>
                            <h6>
                                E-mail: {{ user.email }}
                            </h6>
                            <p class="proile-rating">Totale sottomissioni degli utenti:
                                <span>{{ total_submissions }}</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                       role="tab" aria-controls="home" aria-selected="true">Miei Sondaggi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                                       role="tab" aria-controls="profile" aria-selected="false">Mie Sottomissioni</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <p><a class="ui primary button" href='{% url "polls:profile-edit" %}'>Modifica Profilo</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <table class="ui celled table">
                                    <thead>
                                        <tr>
                                            <th>Titolo</th>
                                            <th>Categoria</th>
                                            <th>Creato il</th>
                                            <th>Stato</th>
                                            <th>Sottomissioni</th>
                                            <th>Azioni</th>
                                        </tr>
                                    </thead>
                                    <body>
                                        {% for survey in surveys %}
                                            <tr>
                                                <td>
                                                    <b>{{ survey.title }}</b>
                                                </td>
                                                <td>
                                                    {{ survey.category }}
                                                </td>
                                                <td>
                                                    {{ survey.date }}
                                                </td>
                                                <td>
                                                    {% if survey.status == '1' %}
                                                        <b class="green-text">Attivo</b>
                                                    {% elif survey.status == '2' %}
                                                        <b class="orange-text">Bloccato</b>
                                                    {% else %}
                                                        <b class="red-text">Inattivo</b>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {{ survey.subs }}
                                                </td>
                                                <td>
                                                    {% if survey.status == '1' or survey.status == '2'%}
                                                        <a href="{% url 'polls:survey-detail' survey.pk %}">
                                                             <div class="ui button">vedi</div>
                                                        </a>
                                                    {% elif survey.status == '0' %}
                                                        <a href="{% url 'polls:survey-edit' survey.pk %}">modifica</a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </body>
                                </table>
                                <a href="{% url 'polls:my-surveys' %}">Vedi Tutti</a>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <table class="ui celled table">
                                    <thead>
                                        <tr>
                                            <th>Sondaggio</th>
                                            <th>Sottomesso il</th>
                                            <th>Stato</th>
                                            <th>Azioni</th>
                                        </tr>
                                    </thead>
                                    <body>
                                        {% for submission in submissions %}
                                            <tr>
                                                <td>
                                                    <b>{{ submission.survey.title }}</b>
                                                </td>
                                                <td>
                                                    {{ submission.created_at }}
                                                </td>
                                                <td>
                                                    {% if submission.is_complete %}
                                                        <b class="green-text" >Completo</b>
                                                    {% else %}
                                                        <b>Iniziato</b>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if submission.is_complete %}
                                                        <a href="{% url 'polls:submission-view' submission.survey.id submission.id %}">
                                                             <div class="ui button">vedi</div>
                                                        </a>
                                                    {% else %}
                                                        <a href="{% url 'polls:survey-submit'  submission.survey.id submission.id %}">
                                                         <div class="ui button">continua</div>
                                                        </a>

                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </body>
                                </table>
                                <a href="{% url 'polls:my-submissions' %}">Vedi Tutti</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
      </main>
{% endblock %}