
{% extends "base.html" %}
{% block title %}Question - Surveys{% endblock %}

{% block content %}
    <div class="container emp-profile">
    <main>
        <div class="row">
            <div class="col-md-6">
                <div class="profile-head">
                    <h1 class="ui header">Crea Nuova Domanda</h1>
                        <div class="ui basic padded segment left aligned">
                            <form class="ui form {% if form.errors %}error{% endif %}" method="post" novalidate>
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="field {% if field.errors %}error{% endif %}">
                                    <label>{{ field.label_tag }}</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <button type="submit" class="ui btn-primary btn">Crea Domanda</button>
                            <a href="{% url 'polls:survey-edit' survey.pk %}">
                                <div class="ui button">Cancella</div>
                            </a>
                            <div class="ui message error">
                                {% if field.errors %}
                                    <div class="header">Ci sono dei problemi</div>
                                {% endif %}
                                <ul class="list">
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <li>{{ field.label_tag }} {{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </form>
                        </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}