{% extends "base.html" %}
{% block title %}Start - Surveys{% endblock %}

{% block content %}
<div class="container emp-profile">
    <main>
    <div class="row">
        <div class="col-md-6">
            <div class="profile-head">
                <h1 class="ui header">{{ survey.title }}</h1>
                <a>{{ survey.description }}</a>
                {% for question in questions %}
                    <div class="ui basic padded segment">
                        <h4 class="ui header">
                            {{ forloop.counter }}) {{ question.text }}
                        </h4>
                        <ul>
                            {% for option in question.choices.all %}
                                <li>
                                    {{option.text}}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <form method="post" action="{% url 'polls:survey-start' survey.pk %}" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" class="ui btn-primary btn">Inizia Sondaggio</button>
            </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}