{% extends "base.html" %}
{% block title %}Submit - Surveys{% endblock %}

{% block content %}
<style>
    form .field ul {
        list-style: none;
        padding: 0 1rem;
    }

    form .field li {
        margin-bottom: 0.3rem;
    }
</style>
<div class="container emp-profile">
    <div class="row">
        <div class="col-md-6">
            <div class="profile-head">
            <h1 class="ui header dividing">Tue Risposte a {{ survey.title }}</h1>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ formset.management_form }}
                {{ other_formset.management_form }}
                {% for question, form, o_form in question_forms %}
                <div class="ui basic padded segment left aligned">
                    <div class="ui form {% if form.errors %}error{% endif %}">
                        <h4 class="ui header">
                            {{ forloop.counter }}): {{ question.text }}
                        </h4>
                        {% for field in form %}
                            <div class="field{% if field.errors %}error{% endif %}">
                                {{ field }}
                            </div>
                        {% endfor %}
                            {% for f in o_form %}
                                {% if question.other_field == True %}
                                    <div class="field{% if f.errors %}error{% endif %}">
                                        {{ f }}
                                    </div>
                                {% endif %}
                            {% endfor %}

                        <div class="ui message error">
                            {% if field.errors %}
                                <div class="header">Ci sono dei problemi</div>
                                <ul class="list">
                                    {% for field in form %}
                                    {% for error in field.errors %}
                                    <li>{{ field.label_tag }} {{ error }}</li>
                                    {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <button type="submit" name="send" class="ui btn-primary btn" value="1">Conferma</button>
                {% comment %}<button type="submit" name="send" class="ui primary button" value="2">Save</button>{% endcomment %}
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}