{% extends "base.html" %}
{% block title %}View - Surveys{% endblock %}

{% block content %}
<div class="container emp-profile">
    <div class="row">
        <div class="col-md-6">
            <div class="profile-head">
                <h3 class="ui header">{{ survey.title }}</h3>
                <a>{{ survey.description }}</a>
                <h5 class="ui header">Sottomesso il: {{ submission_date }}</h5>
                {% for question, choice in questions %}
                    <div class="ui basic padded segment left aligned">
                        <h4 class="ui header">
                            {{ forloop.counter }}) {{ question.text }}
                        </h4>
                        <ul>
                            {% for option in question.choices.all %}
                                {% if choice.choice_id == option.id %}
                                    {% if question.other_field and option.text == "Altro" %}
                                    <li>
                                        <b class="red-text">{{ option.text}}: {{ choice.extra_text }}</b>
                                    </li>
                                    {% else %}
                                        <li>
                                            <b class="red-text">{{option.text}}</b>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% if choice.choice_id != option.id %}
                                    <li>
                                        {{option.text}}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}