{% extends "base.html" %}
{% load stats_template %}
{% block title %}View - Surveys{% endblock %}
{% block content %}
<div class="container emp-profile">
<main>
    <div class="row">
        <div class="col-md-6">
            <div class="profile-head">
                <h1 class="ui header">{{ survey.title }}</h1>
                    <h1 class="ui header dividing">Dettagli Statistiche Sondaggio</h1>
                    {% if questions|length > 1 %}
                        {% for question in questions %}
                            <h4 class="ui header">
                                {{ forloop.counter }}) {{ question.text }}
                            </h4>
                            <table class="ui celled table">
                            <thead>
                                <tr>
                                    <th>Opzione</th>
                                    {% for field in fields %}
                                        <th>{{ field }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>

                        <body>
                            {% for choice in question.choices.all %}
                            {% for stat in stats %}
                                {% if stat.id == choice.id  %}
                                <tr>
                                    <td>
                                        <b>{{ stat.opzione }}</b>
                                    </td>
                                    {% for field in fields %}
                                        <td>
                                            <b>{{ stat|get_item:field }}</b>
                                        </td>
                                    {% endfor %}
                                </tr>
                                {% endif %}
                            {% endfor %}
                                {% endfor %}
                        </body>
                        </table>
                        {% endfor %}
                    {% else %}
                        <h4 class="ui header">
                            Domanda Scelta: {{ questions.text }}
                        </h4>
                        <table class="ui celled table">
                            <thead>
                                <tr>
                                    <th>opzione</th>
                                    {% for field in fields %}
                                        <th>{{ field }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>

                        <body>
                            {% for stat in stats %}
                                <tr>
                                    <td>
                                        <b>{{ stat.opzione }}</b>
                                    </td>
                                    {% for field in fields %}
                                        <td>
                                            <b>{{ stat|get_item:field }}</b>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </body>
                        </table>
                {% endif %}
            </div>
        </div>
    </div>
</main>
</div>
{% endblock %}