{% extends "base.html" %}
{% block title %}Create - Surveys{% endblock %}

{% block content %}
<div class="container emp-profile">
    <main>
    <div class="row">
        <div class="col-md-6">
            <div class="profile-head">
                <h1 class="ui header">Aggiungi Domande a {{survey.title}}</h1>
                <div class="ui container left aligned">
                    <a href="{% url 'polls:survey-edit-info' survey.id %}"
                       class="ui-button">[modifica]</a>
                    <a href="{% url 'polls:survey-delete' survey.id %}"
                       class="ui-button">[elimina]</a>
                    {% for question in questions %}
                        <div class="ui basic padded segment">
                            <h4 class="ui header">
                                Domanda {{ forloop.counter }} / {{ questions|length }}: {{ question.text }}
                                <a href="{% url 'polls:question-edit' survey.id question.id %}"
                                   class="ui-button">[modifica]</a>
                                <a href="{% url 'polls:question-delete' survey.id question.id %}"
                                   class="ui-button">[elimina]</a>
                            </h4>
                            <ul>
                                {% for option in question.choices.all %}
                                    {% if question.type == "0" %}
                                        <li>
                                            {{ forloop.counter }}) {{option.text}}
                                            <a href="{% url 'polls:choice-edit' survey.id question.id option.id %}"
                                                class="ui-button">[modifica]</a>
                                            <a href="{% url 'polls:choice-delete' survey.id question.id option.id%}"
                                                class="ui-button">[elimina]</a>
                                        </li>
                                    {% endif %}
                                    {% if question.type == "1" %}
                                        {{ option.text }}
                                        {% if forloop.counter == question.choices.all|length %}
                                            <a href="{% url 'polls:choice-create' survey.id question.id %}"
                                                class="ui-button">[modifica]</a>
                                            <a href="{% url 'polls:choice-delete' survey.id question.id option.id %}"
                                               class="ui-button">[elimina]</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    {% if question|length < 20 %}
                        <a href="{% url 'polls:question-create' survey.pk %}">
                            <div class="ui button">Aggiungi Domanda</div>
                        </a>
                    {% endif %}
                    {% if questions|length > 0 %}
                        <div class="ui divider"></div>
                        <form style="display: inline-block;" method="post">
                            {% csrf_token %}
                            <button type="submit" name="send" value="1" class="btn-primary btn"
                                onclick="return confirm('Attivare il sondaggio?');">Attiva Sondaggio</button>
                            <button type="submit" name="send" value="2" class="btn-danger btn"
                                onclick="return confirm('Sei sicuro?');">Elimina Sondaggio</button>
                        </form>
                        <a href="{% url 'polls:profile' %}">
                            <div class="ui button">Indietro</div>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </main>
</div>
{% endblock %}