{% extends "base.html" %}
{% block title %}View - Surveys{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6" style="float: none; margin: 0 auto;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div style="text-align: center;">
                        <h4>Che operazione si desidera effettuare su "{{ survey.title }}"?</h4>

                        <a href="{% url 'polls:survey-delete' survey.pk %}" class="btn btn-danger">Elimina</a>
                        {% if survey.status == "1" %}
                            <a name="send" href="{% url 'polls:survey-stop' survey.pk %}" class="btn btn-yellow">Blocca</a>
                        {% endif %}
                        <a href="{% url 'polls:profile' %}" class="btn btn-primary">Niente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}