{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">

      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">Top Tags:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if active == 'All' %}active{% endif %}">
              <a class="nav-link" href="{% url 'polls:survey-list'  category.slug%}">Tutti
                {% if active == 'All' %}
                    <span class="sr-only">(current)</span>
                {% endif %}
              </a>
            </li>
            {% for tag in top_tags %}
            <li class="nav-item {% if active == tag.title %}active{% endif %}">
              <a class="nav-link" href="{%  url 'polls:survey-filter-tag'  category.slug tag.title %}">{{tag.title}}
                  {% if active == 'All' %}
                      <span class="sr-only">(corrente)</span>
                  {% endif %}
              </a>
            </li>
            {% endfor %}

          </ul>

          <form action="{% url 'polls:survey-filter-input' category.slug %}" method="get">
            <div class="md-form my-0">
              <input name="q" class="form-control mr-sm-2" type="text" placeholder="Cerca" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->

      <!--Section: Products v.3-->
      <div class="ui center aligned basic very padded segment">
      {% if category.title == "All" %}
          <h2 class="ui header">Sondaggi attivi in <b class="badge-pill blue">Tutte</b></h2>
      {% else %}
          <h2 class="ui header">Sondaggi attivi in <b class="badge-pill blue">{{ category }}</b></h2>
      {% endif %}
    {% if surveys %}
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Titolo</th>
                    <th>Descrizione</th>
                    <th>Tags</th>
                    <th>Creato il</th>
                    <th>Sottomissioni</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
            {% for survey in surveys %}
                <tr>
                    <td>
                        <b>{{ survey.title }}</b>
                    </td>
                    <td>
                        {{ survey.description|truncatewords:20 }}
                    </td>
                    <td>
                        {% for tag in survey.tags.all %}
                            <a href="{% url 'polls:survey-filter-tag' category.slug tag.title %}">
                                <span class="badge-danger badge-pill">{{ tag.title }}</span>
                            </a>
                        {% endfor %}
                    </td>
                    <td>
                        {{ survey.date }}
                    </td>
                    <td>
                        {{ survey.subs }}
                    </td>
                    <td>
                        {%  if user.is_authenticated %}
                            {% if survey.status == '1' %}
                                {% if survey.creator != user %}
                                    <a href="{% url 'polls:survey-start' survey.pk %}">
                                        <div class="ui button">inizia</div>
                                    </a>
                                {% endif %}
                            {% endif %}
                            {% if survey.status == '1' and survey.creator == user %}
                                <a href="{% url 'polls:survey-detail' survey.pk %}">
                                    <div class="ui button">vedi</div>
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'account_login' %}">
                                <div class="ui button">login</div>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <h2 class="ui header">
            <div class="sub header">Non ci sono sondaggi attivi, creane uno per primo!</div>
        </h2>
    {% endif %}

          {% if surveys.has_other_pages %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          {% if surveys.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ surveys.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Precedente</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" href="?page={{ surveys.number }}">{{ surveys.number }}
              <span class="sr-only">(corrente)</span>
            </a>
          </li>

          {% if surveys.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ surveys.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Successiva</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}

    </div>
    </div>
  </main>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

{% endblock content %}