{% extends "base.html" %}
{% block title %}Thanks - Surveys{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6" style="float: none; margin: 0 auto;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div style="text-align: center;">
                        {% if survey.thanks_message == "" %}
                            <h1 class="ui header"> Survey completata, grazie del vostro tempo.</h1>
                        {% else %}
                            <h1 class="ui header">{{ survey.thanks_message }}</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}